APP_NAME="PT. Erickman Sarana Abadi"
APP_ENV=production
APP_KEY=base64:TwAOq9Ya1FjVS0JcwWYRWzdNDFXUb+Y6Ge1CQpg9rBI=
APP_DEBUG=false
APP_URL=https://erickman.co.id

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# KONFIGURASI DATABASE MYSQL HOSTINGER HPANEL
# (Dibuat melalui Menu: hPanel -> Databases -> MySQL Databases)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=uXXXXX_erickman
DB_USERNAME=uXXXXX_erickman_user
DB_PASSWORD=PasswordDatabaseAnda123!

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# KONFIGURASI EMAIL RESMI HOSTINGER HPANEL (WEBMAIL / TITAN MAIL)
# (Dibuat melalui Menu: hPanel -> Emails -> Email Accounts)
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=admin@erickman.co.id
MAIL_PASSWORD=PasswordEmailHostingerAnda123!
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="admin@erickman.co.id"
MAIL_FROM_NAME="PT Erickman"
